@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards; /* Animation name, duration, easing, and fill mode */
}

@keyframes fadeOut {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.fade-out {
    animation: fadeOut 1s ease-in-out forwards;
}